#play-toggle {
  float: right;
}

#player-video {
  width: 100%;
  border-radius: 0.75em;
}

iframe {
  border: none;
}

.play-video-container-wrapper {
  @media (max-width: 767px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.user-payment,
.user-info {
  @media (max-width: 767px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}