nav {
  background-color: $accent2;
  //border-bottom: 2px solid white;
  border-image-slice: 1;
  border-width: 2px;
  //border-image-source: linear-gradient(to left, $base2, $accent3);

  a {
    color: $base2;

    &:hover {
      color: $accent3;
    }
  }
}

.nav-item__user {
  margin-top: 10px;
  color: white;
}