@import "./vars";
@import "./typography";
@import "./layout";

@import "./buttons";
@import "./forms";

@import "./nav";
@import "./chat";
@import "./footer";

@import "./pages/username";
@import "./pages/login";
@import "./pages/index";

// Greg's experiments

body {
  background: url(/images/bg.gif);
}
nav {
  background: none!important;
}
h1, p, h2, label {
  color: white!important
}
a {
  color: $base2!important;
}

////

input[type="email"] {
  display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
  border-radius: 0;
  background-color: #7beeff;
  font-family: Teko,sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 4px;
  border: none;
  padding: 10px 10px 6px;
  display: block;
  margin: 20px auto;
  font-size: 16px;

  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }


  &:hover {
    opacity: 0.8;
  }
}