@import "./vars";
@import "./typography";
@import "./layout";

@import "./buttons";
@import "./forms";

@import "./nav";
@import "./chat";
@import "./footer";

@import "./pages/username";
@import "./pages/login";
@import "./pages/index";

// Greg's experiments

body {
  background: url(/images/bg.gif);
}
nav {
  background: none!important;
}
h1, p, h2, label {
  color: white!important
}
a {
  color: $base2!important;
}
